@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

table {
    cursor: default;
}

.container {
    position: relative;
    width: 100%;
}

.navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    background: #F47C20;
    border-left: 10px solid #F47C20;
    transition: 0.5s;
    overflow: hidden;
}

.navigation.active {
    width: 90px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li {
    position: relative;
    width: 200%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navigation ul li:nth-child(1) {
    margin-top: 20px;
    margin-bottom: 40px;
    pointer-events: none;
}

.navigation ul li:nth-child(2) {
    margin-top: 20px;
    margin-bottom: 40px;
    pointer-events: none;
    background: #ffffff;
    color: black;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: white;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.navigation ul li a .icon ion-icon {
    font-size: 1.75rem;
}

.navigation ul li a .title {
    position: relative;
    padding: 0 10px;
    height: 50px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

.navigation ul li a .title-not {
    position: relative;
    padding: 0 10px;
    height: 50px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
    color: black;
}

.navigation ul li a .icon-not {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.navigation ul li a .icon-not ion-icon {
    font-size: 1.75rem;
    color: black;
}


/* Main */

.main {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: #ffffff;
    transition: 0.5s;
}

.main.active {
    width: calc(100% - 80px);
    left: 80px;
}

.topbar {
    margin-top: 20px;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    cursor: pointer;
    color: black;
}

.search {
    position: relative;
    width: 400px;
    margin: 0 10px;
}

.search label {
    position: relative;
    width: 100%;
}

.search input {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    outline: none;
    border: 1px solid #000000;
}

.search label ion-icon {
    position: absolute;
    top: 2px;
    left: 11px;
    font-size: 1.2rem;
    color: black;
}

.user {
    position: relative;
    margin-right: 12px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.user img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    color: black;
}

.proyectos {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    margin-top: 10px;
}

.proyectos .allProjects {
    position: relative;
    display: grid;
    min-height: 500px;
    background: #ffffff;
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cardHeader h2 {
    font-weight: 600;
    color: #F47C20;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.btn {
    position: relative;
    padding: 5px 10px;
    background: #F47C20;
    text-decoration: none;
    color: #ffffff;
    border-radius: 6px;
}

.proyectos table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.proyectos table thead td {
    font-weight: 600;
}

.proyectos .allProjects table tr {
    color: black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.proyectos .allProjects table tr:last-child {
    border-bottom: none;
}


/* .proyectos .allProjects table tbody tr:hover {
    background: #F47C20;
    color: white;
} */

.proyectos .allProjects table tr td {
    padding: 10px;
}

.proyectos .allProjects table tr td:last-child {
    text-align: end;
}

.proyectos .allProjects table tr td:nth-child(2) {
    text-align: justify;
}

.proyectos .allProjects table tr td:nth-child(3) {
    text-align: justify;
}

.proyectos .allProjects table tr td:nth-child(4) {
    text-align: center;
}

.proyectos .allProjects table tr td:nth-child(5) {
    text-align: center;
}

.status.delivered {
    padding: 2px 4px;
    background: #1CBC2E;
    color: white;
    border-radius: 4px;
    font-weight: 500;
}

.status.wait {
    padding: 2px 4px;
    background: #D34F2B;
    color: white;
    border-radius: 4px;
    font-weight: 500;
}

.center button {
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    height: 48px;
    text-align: center;
    background-color: #F47C20;
    color: white;
}

.button {
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    height: 48px;
    text-align: center;
    background-color: #F47C20;
    color: white;
    margin: 10px auto 16px;
    padding: 0px 70px;
    justify-content: center;
    align-items: center;
}

.form-bg {
    background: rgba(0, 0, 0, .4);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 110;
    display: none;
}

.center-p p {
    text-align: center !important;
}

.active {
    display: block;
}

.form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    padding: 50px 40px;
    border-radius: 12px;
    box-shadow: 1px 7px 20px 2px rgb(0 0 0 / 40%);
}

.form-content {
    display: flex;
    align-content: center;
    flex-direction: column;
}

.form-content-date {
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
}

.form-content-date .date,
.form-content-date .time {
    display: flex;
    flex-direction: column;
}

.form-content-date .date {
    margin-left: 15px;
}

.form-content-date .time {
    margin-left: 15px;
}

.date-container {
    display: flex;
    flex-direction: row;
}

.form .form-element {
    margin: 0 auto 16px;
    padding: 0px 70px;
    background-color: #F47C20;
    color: white;
}

.form h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    color: #000000;
    margin: 0 0 45px 0;
}

.form label {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: #676767;
}

.form input {
    width: 300px;
    margin: 0 0 20px 0;
    padding: 10px 15px;
    border-radius: 50px;
    border: 1px solid #676767;
}

.form input:nth-child(8) {
    width: 300px;
    margin: 0 0 50px 0px;
    padding: 10px 15px;
    border-radius: 50px;
    border: 1px solid #676767;
}

.close-form {
    border: none;
    cursor: pointer;
    position: absolute;
    right: 16px;
    top: 16px;
    height: 14px;
    fill: #676767;
    width: 14px;
}

.notifi-item {
    display: flex;
    padding: 15px 5px;
    margin-bottom: 15px;
    cursor: pointer;
}

.inscrip {
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    height: 38px;
    text-align: center;
    background-color: #F47C20;
    color: #FFFFFF;
    margin: 10px 0px;
    padding: 0px 30px;
    justify-content: center;
    align-items: center;
    border: 1px solid #F47C20;
    transition: transform 200ms;
}

.inscrip:hover {
    transform: scale(1.1);
}

.notifi-item img {
    display: block;
    width: 50px;
    margin-left: 10px;
    margin-right: 15px;
    border-radius: 50%;
}

.notifi-item:hover {
    background-color: #753F00;
    border-radius: 8% / 50%;
}

.notifi-item .text h4 {
    color: white;
    font-size: 16px;
    margin-top: 10px;
}

.notifi-item .text h5 {
    color: white;
    font-size: 14px;
}

.notifi-item .text p {
    color: white;
    font-size: 12px;
}